body {
  background-color: #f19cd2;
}

form {
  background-color: #b8eba4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin: 50px auto;
  width: 500px;
}

input[type="submit"]:hover {
  background-color: #afafaf;
}

input[type="text"],
input[type="email"],
textarea {
  width: 97%;
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: inset 0px 0px 5px rgb(90, 57, 57);
}

input[type="submit"] {
  background-color: #edff4c;
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
